html, body {
  width: 100%;
  height: 100%;
}

body {
  /* Default to system font if custom font not supported */
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: #00AFFF;
  border: 0;
}

.navbar-collapse {
  text-align: left;
}

.navbar .navbar-nav {
  display: inline-block;
  text-align: left;
  float: none;
  vertical-align: top;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover {
  background-color: #66CFFF;
}

.navbar-default .navbar-collapse {
  /*border-top:none;
  box-shadow:none;*/
}

#navbar > ul > li > a:hover {
  background-color: #15BDFF;
}

#navbar > ul > li > a {
  color: white;
  border: 0;
}

.dropdown-menu {
  padding: 1px;
}

/* Gives hover effect */
li.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-default .dropdown-menu > li > a {
  /*background-color: transparent; delete hover effect*/
}

/* Avoid propagation to dropdown */
#navbar > ul > li > a {
  line-height: 30px;
  height: 60px;
}

@media (max-width: 767px) {
    #navbar ul > li > a {
    line-height: 20px;
    height: 40px;
  }
}

#navbar li.divider {
  margin: 1px;
}

.logo {
  min-height: 22px;
  height: 22px;
}

h1, h2, h3 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding-bottom: 75px;
}

.text-vertical-center {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.section-title {
  font-size: 54px;
}

.lead > p {
  padding: 12px 12px;
}

.splash {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/sherrerd.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(0.9); /* -webkit-filter: opacity(0.75);*/
}

.sponsor-logo {
  width:90%;
  margin: auto;
  display: block;
}

#profiles .list-group-item {
  position: relative;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 12px;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#profiles .list-group-item .profile-main {
  padding-bottom: 12px;
  max-width: 100%;
}

#profiles .list-group-item img {
  max-height: 250px;
}

#profiles .list-group-item .description {
  padding-left: 24px;
  display: inline-block;
}

#profiles .list-group-item .officer-name {
  font-size: 28px;
}

#profiles .list-group-item .officer-title {
  font-size: 20px;
  font-weight: 200;
}

#profiles .list-group-item .profile-bio {
  font-size: 16px;
  font-weight: 200;
}
