html, body {
  width: 100%;
  height: 100%;
}

.site-main {
  padding-top: 3%;
  padding-bottom: 3%;
}

body {
  /* Default to system font if custom font not supported */
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
  background-image: none;
  border: none;
  letter-spacing: 1px;
  text-decoration: none ! important;
  text-shadow: none;
  transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
}

.btn-orange {
  background-color: #FF6600;
  color: white;
  border-radius: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px 15px;
}

.btn-orange:hover {
  background-color: #C9302C;
  color: white;
}

.btn-glass {
  background: transparent;
  color: white;
  font-size: 16px;
  border: 1px solid white;
}

.btn-glass:hover {
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.dropdown-menu > li > a {
  color: white;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu > li > a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-inverse .dropdown-menu > li > a {
  color: #555555;
}

.navbar-inverse .dropdown-menu > li > a:focus, .navbar-inverse .dropdown-menu > li > a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: transparent;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-top: 10px;
  border: 0;
  /*border-color: #000000;*/
}

.navbar-brand {
  background-color: transparent;
  margin-top: 3px;
}

.navbar-brand img {
  min-height: 22px;
  height: 22px;
}

.navbar .navbar-nav {
  display: inline-block;
  text-align: left;
  float: right;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-inverse .navbar-collapse {
  border-color: rgba(0, 0, 0, 0.2);
}

/* Collapsible three bar button */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav .open .dropdown-menu > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #555555;
}

.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li:hover {
  color: white;
  background-color: #555555;
}

.navbar-inverse #navbar > ul > li > a, .navbar-inverse #navbar > ul > li > a:focus {
  background-color: transparent;
  color: #555555;
}

.navbar-inverse #navbar > ul > li > a:hover {
  background-color: #555555 !important;
  color: white;
}

/* Fixes dropdown click color issue */
.nav .open > a, .navbar-default .nav .open>a:hover, .navbar-default .nav .open > a:focus {
  background-color: transparent;
}

/* Avoid propagation to dropdown */
#navbar > ul > li > a {
  color: white;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  line-height: 30px;
  height: 60px;
}

#navbar > ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#navbar li.divider {
  margin: 1px;
  background-color: white;
  margin: 0px 6px;
}

.navbar .navbar-nav > .active > a {
  color: #008BBC !important;
/*  border-bottom: 2px solid #008BBC !important;*/
}

.navbar .navbar-nav > .active:hover > a{
  color: #FFFFFF !important;
/*  border-bottom: 2px solid #008BBC !important;*/
}

.navbar .navbar-nav > .active:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  top: 100%;
  left: 10%;
  border: 2px solid #008BBC;
}

.navbar-inverse #navbar li.divider {
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  font-weight: 300;
  font-size: 14px;
}

.home-container {
  text-align: center;
}

.text-vertical-center {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.section-title {
  font-size: 45px;
}

.section-subtitle {
  font-size: 22px;
}

.home-title {
  font-size: 54px;
  display: inline;
  color: #FFFFFF;
}

.home-subtitle {
  font-size: 28px;
  font-weight: 300;
}

.lead > p {
  padding: 12px 12px;
}

.splash {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/image-bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(0.9); /* -webkit-filter: opacity(0.75);*/
}

.sponsor-logo {
  width:90%;
  margin: auto;
  display: block;
}

#profiles .list-group-item {
  position: relative;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 12px;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#profiles .list-group-item .profile-main {
  margin-bottom: 12px;
  max-width: 100%;
}

#profiles .list-group-item img {
  max-height: 250px;
}

#profiles .list-group-item .description {
  padding-left: 24px;
  display: inline-block;
}

#profiles .list-group-item .profile-name {
  font-weight: 400;
  font-size: 26px;
}

#profiles .list-group-item .profile-title {
  font-size: 20px;
  font-weight: 300;
}

#profiles .list-group-item .profile-bio {
  font-size: 16px;
  font-weight: 300;
}

body.mobile {
  -webkit-text-size-adjust:none;
}

body.mobile .animated {
  display: block;
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.2em;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 62px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

body:not(.main) h1 {
  text-transform: uppercase;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 300;
}

body:not(.main) h2 {
  text-transform: uppercase;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

body:not(.main) h3 {
  text-transform: uppercase;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

p {
  margin-bottom: 20px;
}

p.lead {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  padding: 0;
  font-weight: 400;
}

, a > * {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (min-width: 882px) and (max-width: 992px) {
  .home-title {
    font-size: 40px !important;
  }
}

@media (min-width: 832px) and (max-width: 882px) {
  .home-title {
    font-size: 40px !important;
  }
  .navbar-nav > li > a {
    font-size: 90%;
  }

  .section-title {
    font-size: 36px;
  }

  .section-subtitle {
    font-size: 30px;
  }

  .content {
    font-size: 15px;
  }
}

@media (min-width: 782px) and (max-width: 832px) {
  .navbar-nav > li > a {
    font-size: 80%;
  }

  .home-title {
    font-size: 40px !important;
  }

  .home-subtitle {
    font-size: 24px !important;
    font-weight: 300;
  }

  .section-title {
    font-size: 34px;
  }

  .section-subtitle {
    font-size: 28px;
  }

  .content {
    font-size: 14px;
  }
}

@media (min-width: 767px) and (max-width: 782px) {
  .navbar-nav > li > a {
    font-size: 75%;
  }

  .home-title {
    font-size: 40px !important;
  }

  .home-subtitle {
    font-size: 24px !important;
    font-weight: 300;
  }

  .section-title {
    font-size: 32px;
  }

  .section-subtitle {
    font-size: 26px;
  }

  .content {
    font-size: 14px;
  }
}

@media (max-width: 767px) {

  .container-fluid {
    padding-right: 15px;
  }

  #navbar ul > li > a {
    line-height: 20px;
    height: 40px;
    width: 767px;
  }

  .navbar .navbar-nav {
    float: none;
  }

  .navbar-brand {
    margin-top: 0px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li {
    border: 0;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
    font-weight: 300;
    padding: 10px 25px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li:focus {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .navbar-default .navbar-nav .open .dropdown-menu .divider {
    display: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #555555;
    font-weight: 300;
    padding: 10px 25px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
  }

  .navbar-inverse #navbar li.divider {
    background-color: transparent;
  }

  .home-title {
    font-size: 34px !important;
  }

  .home-subtitle {
    font-size: 24px !important;
    font-weight: 300;
  }

  .section-title {
    font-size: 32px;
  }

  .section-subtitle {
    font-size: 26px;
  }

  .content {
    font-size: 14px;
  }
}

@media (min-width: 562px) and (max-width: 620px) {

  .home-title {
    font-size: 30px !important;
  }

  .home-subtitle {
    font-size: 20px !important;
  }

  .section-title {
    font-size: 28px !important;
  }

  .section-subtitle {
    font-size: 24px !important;
  }

  .content {
    font-size: 14px;
  }
}

@media (max-width: 562px) {

  h1, h2 {
    text-align: center;
  }

  .home-title {
    font-size: 26px !important;
  }

  .home-subtitle {
    font-size: 20px !important;
  }

  .section-title {
    font-size: 28px;
  }

  .section-subtitle {
    font-size: 24px;
  }

  .content {
    font-size: 14px;
  }

  #profiles .section-description {
    text-align: justify;
    padding: 0px 3% !important;
  }

  #profiles .profile-main {
    display: flex;
    justify-content: center;
    width: 250px;
    padding-bottom: 0 !important;
    padding-left: calc((100% - 250px));
    position: relative;
  }

  #profiles .description {
    position: absolute;
    width: 250px;
    text-align: center;
    bottom: 0px;
    padding-left: 0 !important;
  }

  #profiles .profile-name, #profiles .profile-title {
    font-size: 16px !important;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 0px;
  }

  #profiles .profile-bio {
    margin: 3%;
    text-align: justify;
  }
}

@media (min-width: 420px) and (max-width: 480px) {

  h1, h2 {
    text-align: center;
  }

  .home-title {
    font-size: 24px !important;
  }

  .home-subtitle {
    font-size: 16px !important;
  }

  .section-title {
    font-size: 22px !important;
  }

  .section-subtitle {
    font-size: 20px !important;
  }
}

@media (max-width: 420px) {

  h1, h2 {
    text-align: center;
  }

  .home-title {
    font-size: 20px !important;
  }

  .home-subtitle {
    font-size: 16px !important;
  }

  .section-title {
    font-size: 22px !important;
  }

  .section-subtitle {
    font-size: 20px !important;
  }
}
