html, body { width: 100%; height: 100%; background: #F4F4F4; }

body { font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; }

h1, h2, h3 { font-family: "Roboto Condensed", "Helvetica Neue",Helvetica,Arial,sans-serif; }

.gridder { margin: 0px; padding: 0px; list-style-type: none; }

.gridder-content { display: none; }

.gridder-list { padding: 36px; vertical-align: top; }

.gridder-show { display: block; float: left; width: 100%; }

.gridder-navigation .gridder-nav.disabled { opacity: 0.5; }

.gridder-list { cursor: pointer; }

.gridder-list:hover { opacity: 0.8; }

.hasSelectedItem .gridder-list { opacity: 0.5; }

.hasSelectedItem .gridder-list.selectedItem { opacity: 1; }

.text-vertical-center { display: table-cell; margin-left: auto; margin-right: auto; text-align: center; vertical-align: middle; }

.btn-dark { border-radius: 0; color: #fff; background-color: rgba(0, 0, 0, 0.2); }

.btn-nobackground { background: none; }

.btn-dark:hover, .btn-dark:focus, .btn-dark:active { color: #fff; background-color: rgba(0, 0, 0, 0.7); }

.btn-light { border-radius: 0; color: #333; display: inline-block; margin-left: 1px; margin-right: 1px; margin-top: 4px; margin-bottom: 4px; width: 200px; background-color: rgba(255, 255, 255, 0.2); }

.btn-mid { border-radius: 0; color: #333; display: inline-block; margin-left: 1px; margin-right: 1px; margin-top: 4px; margin-bottom: 4px; padding: 12px; font-size: 16px; background-color: rgba(200, 200, 200, 0.2); }

.btn-xlg { padding: 16px 24px; font-size: 18px; line-height: normal; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }

.btn-mid:hover, .btn-light:focus, .btn-light:active { color: #222; background-color: rgba(200, 200, 200, 0.4); }

.btn-light:hover, .btn-light:focus, .btn-light:active { color: #333; background-color: rgba(255, 255, 255, 0.5); }

/* Custom Horizontal Rule */
hr.small { max-width: 100px; }

.navbar .navbar-nav { display: inline-block; text-align: center; float: none; vertical-align: top; }

.brandimg { min-height: 22px; height: 22px; }

.navbar { margin-bottom: 0px; }

.navbar-collapse { text-align: center; }

/* Header */
.splash, .splash-half { display: table; position: relative; width: 100%; height: 100%; background: url(../img/backgrounds/bg-light.jpg) no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }

.splash { height: 100%; }

.splash-half { height: 30%; background: url(../img/backgrounds/bg-light.jpg) no-repeat bottom center scroll; }

.container { padding-top: 50px; padding-bottom: 50px; }

/* Services */
.services { padding: 50px 0; }

.service-item { margin-bottom: 30px; }

.lead > p { padding: 12px 12px; }

.lead { font-size: 16px; }

.lead img { max-width: 500px; /*    width: 100%;*/ }

/* Carousel base class */
.carousel { height: 500px; }

/* Declare heights because of positioning of img element */
.carousel .item { height: 500px; background-color: #777; }

.carousel-inner .item { width: 100%; height: 500px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.ad1 { background: url(../img/backgrounds/berkeley.jpg) no-repeat center center scroll; }

.ad2 { background: url(../img/backgrounds/stanford.jpg) no-repeat center center scroll; }

.img-landing { max-width: 100%; height: auto; }

.list-inline { display: inline; list-style: none; }

.list-inline > h3 { display: inline; padding-left: 24px; padding-right: 24px; line-height: 48px; white-space: nowrap; }

.list-inline > h3 > a { color: inherit; }

.list-inline > h3 { border-right: 2px solid black; }

.list-inline > h3:last-child { border-right: none; }

/* Call to Action */
.call-to-action { padding: 50px 0; }

.call-to-action .btn { margin: 10px; }

/* Footer */
footer { padding: 100px 0; }

a.white { color: #FFFFFF; }

.info-title { font-size: 72px; color: #FFFFFF; }

.row-eq-height { display: table; }

.person-description { font-size: 16px; margin-bottom: 50px; }

.person-description > a > i { font-size: 1.8em; padding-top: 6px; color: #545454; }

.person { padding-top: 6px; }

.imagecontainer { text-align: center; margin-top: 42px; margin-bottom: 36px; }

.sponsor { width: 500px; max-width: 100% !important; }

.img-circle { object-fit: cover; /*max-width: 100% !important;*/ /*width: initial !important;*/ }

.light-bg { background: #F4F4F4; }

@media all and (max-width: 750px) { .list-inline > h3 { display: inline; padding-left: 24px; padding-right: 24px; line-height: 2em; white-space: nowrap; font-size: 1.25em; }
  .list-inline > h3 { border-right: 1px solid black; }
  .list-inline > h3:last-child { border-right: none; }
  .person-description { font-size: 14px; } }
img[alt="randy"] { float: left; margin-right: 50px; height: 400px; width: auto; }
